absl-py==2.1.0
altair==5.5.0
annotated-types==0.7.0
anyio==4.8.0
astunparse==1.6.3
attrs==25.1.0
backports.tarfile==1.2.0
beautifulsoup4==4.13.3
blinker==1.9.0
build==1.2.2.post1
CacheControl==0.14.2
cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
chardet==3.0.4
charset-normalizer==3.4.1
cleo==2.1.0
click==8.1.8
colorama==0.4.6
contourpy==1.3.1
crashtest==0.4.1
cryptography==44.0.2
cycler==0.12.1
distlib==0.3.9
distro==1.9.0
dulwich==0.22.8
entrypoints==0.4
exceptiongroup==1.2.2
Faker==37.1.0
fastjsonschema==2.21.1
favicon==0.7.0
filelock==3.18.0
findpython==0.6.3
flatbuffers==25.2.10
fonttools==4.56.0
forex-python==1.8
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.44
google-pasta==0.2.0
googletrans==3.1.0a0
graphics.py==5.0.1.post1
greenlet==3.1.1
grpcio==1.70.0
gTTS==2.5.4
h11==0.9.0
h2==3.2.0
h5py==3.13.0
hpack==3.0.0
hstspreload==2025.1.1
htbuilder==0.9.0
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
importlib_metadata==8.6.1
installer==0.7.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
Jinja2==3.1.5
jiter==0.8.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keras==3.9.0
keyring==25.6.0
kiwisolver==1.4.8
libclang==18.1.1
lxml==5.3.2
Markdown==3.7
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupSafe==3.0.2
matplotlib==3.10.1
mdurl==0.1.2
ml-dtypes==0.4.1
more-itertools==10.6.0
msgpack==1.1.0
mysql-connector-python==9.2.0
namex==0.0.8
narwhals==1.28.0
numpy==2.0.2
openai==1.65.5
opt_einsum==3.4.0
optree==0.14.1
packaging==24.2
pandas==2.2.3
pbs-installer==2025.3.17
pillow==11.1.0
pkginfo==1.12.1.2
platformdirs==4.3.7
playsound==1.3.0
plotly==6.0.1
poetry==2.1.1
poetry-core==2.1.1
prometheus_client==0.21.1
protobuf==5.29.3
pyarrow==19.0.1
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pydeck==0.9.1
pygame==2.6.1
Pygments==2.19.1
pymdown-extensions==10.14.3
PyMySQL==1.1.1
pyparsing==3.2.1
pyperclip==1.9.0
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
pytz==2025.1
pywin32-ctypes==0.2.3
PyYAML==6.0.2
RapidFuzz==3.12.2
referencing==0.36.2
requests==2.32.3
requests-toolbelt==1.0.0
rfc3986==1.5.0
rich==13.9.4
rpds-py==0.23.1
shellingham==1.5.4
simplejson==3.20.1
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.39
st-annotated-text==4.0.2
st-theme==1.2.3
streamlit==1.42.2
streamlit-avatar==0.1.3
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-embedcode==0.1.2
streamlit-extras==0.6.0
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.9
streamlit-keyup==0.3.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow_intel==2.18.0
termcolor==2.5.0
toml==0.10.2
tomli==2.2.1
tomlkit==0.13.2
tornado==6.4.2
tqdm==4.67.1
trove-classifiers==2025.3.19.19
ttkbootstrap==1.10.1
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
uv==0.6.8
validators==0.34.0
virtualenv==20.29.3
watchdog==6.0.0
Werkzeug==3.1.3
wrapt==1.17.2
zipp==3.21.0
zstandard==0.23.0
